<template>
<div>
    <div v-if="planets.length == 0" style="align-items: center; text-align: center; margin-top: 100px;">
        <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
    </div>
    <div v-else>

        <v-container>
            <v-row>
                <v-col cols="12" md="4">
                    <v-text-field v-model="name" label="Filtrar" required ></v-text-field>
                </v-col>
            </v-row>
        </v-container>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">
                            Nombre
                        </th>
                        <th class="text-left">
                            Diametro
                        </th>
                        <th class="text-left">
                            Clima
                        </th>
                        <th class="text-left">
                            Terreno
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in data" :key="item.name">
                        <td>{{ item.name }}</td>
                        <td>{{ item.diameter }}</td>
                        <td>{{ item.climate }}</td>
                        <td>{{ item.terrain }}</td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
        <v-pagination v-model="page" :length="Npages"></v-pagination>
    </div>

</div>
</template>

<script>
export default {
    data() {
        return {
            name: "",
            valid: false
        }
    },
    computed: {
        data(){
            let planets = []
            let resp = []
            let copy = []
            if (this.name == "") {
                planets = this.$store.getters['Planets/getPlanetsAll']
            } else {
                copy = this.$store.getters["Planets/getPlanets"];
                const _this = this

                const aguja = _this.name.toLowerCase();

                resp = copy.filter((element) => {
                    return element.name.toLowerCase().indexOf(aguja) > -1 ||  element.diameter.toLowerCase().indexOf(aguja) > -1 ||  element.climate.toLowerCase().indexOf(aguja) > -1 ||  element.terrain.toLowerCase().indexOf(aguja) > -1
                })

                planets = resp;
            }
            return planets;
        },
        planets: {
            get() {
                return this.$store.getters['Planets/getPlanets']
            }
        },
        planetsAll: {
            get() {
                return this.$store.getters['Planets/getPlanetsAll']
            }
        },
        Npages: {
            get() {
                return this.$store.getters['Planets/getNpages']
            }
        },
        previous: {
            get() {
                return this.$store.getters['Planets/getPrevious']
            }
        },
        next: {
            get() {
                return this.$store.getters['Planets/getNext']
            }
        },
        page:{
            get(){
                return this.$store.getters['Planets/getActive']                
            },
            set(item){
                this.$store.commit('Planets/setActive',item)
                this.$store.dispatch('Planets/getPlanets', item);

            }
        }
    },
    mounted() {
        this.$store.dispatch('Planets/getPlanets');
    },
    methods: {
    }
}
</script>
