<template>
<div id="app">
    <router-view />
    <v-alert border="top" color="red lighten-2" dark>
        Ha Ocurrido un error
    </v-alert>
</div>
</template>

<script>
export default {
    name: 'app',
    data() {
        return {
            msg: 'Welcome to Your Vue.js App'
        }
    }
}
</script>

<style lang="scss">

</style>
