<template>
<v-app>

    <v-app-bar app class="pa-6">
        <v-col class="d-flex" cols="12" sm="3">
            <v-select v-model="url" :items="items" item-text="url" item-value="id" label="Standard"></v-select>
        </v-col>
    </v-app-bar>

    <v-navigation-drawer app>
        <!-- -->
        <h4 style="text-align: center; margin-top: 25px;">
            Apside
        </h4>
        <v-list dense>
            <v-list-item-group v-model="selectedItem" color="primary">
                <v-list-item v-for="(item,index) in routes" :key="index" @click="go(item)">
                    <v-list-item-content>
                        <v-list-item-title>{{ item }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>

    </v-navigation-drawer>

    <!-- Sizes your content based upon application components -->
    <v-main>

        <!-- Provides the application the proper gutter -->
        <v-container fluid>

            <!-- If using vue-router -->
            <div style="padding: 20px;">
                <router-view></router-view>

            </div>
        </v-container>
    </v-main>

    <v-footer app>
        <!-- -->
    </v-footer>
</v-app>
</template>

<script>
export default {
    data() {
        return {
            routes: [
                "Planetas",
            ],
        }
    },
    computed: {
        selectedItem: {
            get() {
                let r = this.routes.filter(element => {
                    return element == this.$route.name
                })

                return this.routes.indexOf(r[0])
            },
            set(item) {
                // console.log(item);
            }
        },
        url: {
            get() {
                return this.$store.getters['Planets/getUrl']
            },
            set(id){
                this.$store.commit('Planets/setUrl', id);
                this.$store.dispatch('Planets/getPlanets');
            }
        },
        items: {
            get() {
                return this.$store.getters['Planets/getUrls']
            }
        }
    },
    methods: {
        go(item) {
            this.$router.push({ name: item })
        }
    }
}
</script>
